cm-xml-codelist/src/main/xsd/codelist-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    targetNamespace="urn:fdc:difi.no:2017:vefa:structure:CodeList-1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Title" minOccurs="0"/>
        <xs:element type="xs:string" name="Identifier" minOccurs="0"/>
        <xs:element type="xs:string" name="Version" minOccurs="0"/>
        <xs:element type="xs:string" name="Agency" minOccurs="0"/>

        <xs:element name="Code" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Id"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>